<div class="hero">
    <div class="hero__content">
        <h1 class="hero__title">
            DATA <span class="hero__span">PIONERS<br></span><span class="hero__span-right">SCIENCE</span>
        </h1>
        <h2 class="hero__subtitle">CONQUERING THE NEXT FRONTIER</h2>
    </div>

    <div class="hero__content-right">
        <p class="hero__text">GLOBAL DATA SCIENCTISTS CONTEXTUALIZE THEIR ROLE AND WHY THEY LOVE IT<br>WHILE EXPLORING ETHICAL CONCERNS AND THE CHALENGES TO COME</p>
        
        <button class="hero__button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 4v16l13 -8l-13 -8" />
            </svg> WATCH TRAILER NOW
        </button>
    </div>
</div>