<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item"><a href="/index.html" class="navbar__link">HOME</a></li>
        <li class="navbar__item"><a href="/views/pages/watch-on-demand.html" class="navbar__link">WATCH ON DEMAND</a></li>
        <li class="navbar__item"><a href="/views/pages/stay-on-the-loop.html" class="navbar__link">STAY ON THE LOOP</a></li>
        <li class="navbar__item"><a href="/views/pages/press-room.html" class="navbar__link">PRESS ROOM</a></li>
    </ul>
</nav>