body {
    overflow-x: hidden;
}

.watch-container {
    background-image: url(/assets/images/2-img.jpg);
    background-position: 100px;
    background-repeat: no-repeat;
    background-color: var(--primary);
}

.watch__now-watch {
    display: grid;
    background-color: var(--background-watch);
    height: 100vh;
}

.watch__content {
    align-content: center;
}

.watch__title {
    position: relative;
    left: -45px;
    white-space: nowrap;
    font-size: var(--fs-xxxxl);
    font-weight: 800;
    color: var(--white);
    margin: 0;
}

.watch__content-text {
    position: relative;
    right: -300px;
    line-height: 1.5;
    place-items: center;
}

.watch__text {
    color: var(--white);
    font-size: var(--fs-xxxs);
    font-weight: 600;
}

.watch__button {
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 100px;
    padding: 12px 24px;
    background-color: var(--terciary-950);
    font-weight: 800;
    margin-top: 24px;
}

.watch__button:hover {
    cursor: pointer;
    background-color: var(--white);
}

@media (width < 768px) {

    .watch-container {
        background-size: cover;
        background-position: left;
    }

    .watch__now-watch {
        background-color: var(--background-media);
    }

    .watch__title {
        left: 0;
        text-align: center;
        font-size: var(--fs-sm);
    }
    
    .watch__content-text {
        right: 0;
        line-height: 1.3;
        text-align: center;
        padding: 12px;
    }
}